body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #2e282a;
}

header {
  background-image: url("/healthyFoood.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 20px;
  color: #16db99;
  font-size: 34px;
}

button {
  background-color: #16db99;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
}

input {
  padding: 10px;
  margin: 10px;
  width: 85%;
}

footer {
  text-align: center;
  padding: 10px;
  color: rgb(208, 205, 205);
}

.food-inner {
  display: flex;
  flex-direction: row;
  margin: 50px;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid rgb(208, 205, 205) 2px;
}
.food-container {
  width: 25%;
}

.emoji {
  font-size: 70px;
  padding: 20px;
}

.plus {
  cursor: pointer;
}

.ordered {
  color: #16db99;
  background-color: #16db99;
  border: solid 2px #16db99;
}

.order {
  display: flex;
  flex-direction: column;
  margin: 50px;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 25px;
  margin: 20px;
}

.food-item,
.line-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.line-item {
  border-top: solid #2e282a 3px;
}

.food-name-remove {
  display: flex;
  flex-direction: row;
  width: 25%;
}

.remove-btn {
  background-color: #ffff;
  color: gray;
  border: none;
  padding: 2px;
  text-align: left;
  text-decoration: none;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
}

/* modal */

.payment-modal {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 420px;
  width: 350px;
  border-radius: 5px;
  box-shadow: 0px 0px 100px 2px #666;
  background-color: #ffffff;
  color: #2e282a;
}

.payment-modal-inner {
  width: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
/* light green background, black text */
.order-paid {
  text-align: center;
  padding-left: 20px 40px;
  background-color: #16db99;
  opacity: 0.5;
}
